*{
    margin: 0;
    padding: 0;
}

.logo{
    float: left;
}

.logo img{
    width: 60px;
    height: 80px;
}




div.menu{
    background-color: rgb(128, 6, 6);
}

nav{
    height: 35px;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
    padding-top: 20px;
   
}
a{
    margin-left: 30px;
    margin-right: 30px;
    font-size: 30px;
    text-decoration: none;
    color: white;
    font-family: 'Times New Roman', Times, serif;

}
.menu a:hover{
    color: red;
}


.nav2 a:hover{
    color: silver;
}


.partTow{
    height:600px;
    background-image: url(téléchargement.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}




body{
    background-image: linear-gradient(85deg, black, red);
}


.partThree{
    width:max-content;
    height: 150px;
   
}



.titre{
    margin-bottom: 30px;
    margin-left: 45%;
    font-size: 25px;
    color: blanchedalmond;
    font-style: italic;

}


.image{
    margin-left: 20%;
}
img{
    width: 200px;
    height: 250px;
    margin-left: 30px;
    margin-right: 30px;
    
}




.nav2{
    margin-left: 43%;

}

.nav2 a{
    color: blue;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}



.Partfour{
    background-image: linear-gradient(85deg, black, red);
    width: 1500px;
    height: 450px;
}




.Partfour video{
    width:300px ;
    height: 400px;
}



video{
    margin-left: 35%;
    padding-top: 40px;
}